body{
    font-family: 'DM Sans', sans-serif;   
}
.menu{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 28px 28px 0px;
    flex-direction: column;
}
.menu-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo,
.menu-icon,
.close{
    margin-bottom: 28px;
}
.close-button{
    display: none;
}
.close-button .active{
    display: flex;
}
.hide{
    display: none;
}
button{
    border: 0px;
    background-color: #ffffff;
}
.menu-list{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 44px;
    padding: 32px 0px;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
}
.active{
    display: flex;
}
.pages{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.pages a{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;    
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.line{
    border: 0.5px solid rgb(0, 0, 0, 0.25);
}
.invite{
    height: 48px;
    width: 310px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}
.cont-one{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.tablet-hero,
.desktop-hero{
    display: none;
}
.cont-one-content{
    padding: 72px 28px;
    background-color: #000000;
}
.cont-one-content h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.cont-one-content p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    max-width: 318px;
}
.colr-line{
    position: absolute;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    margin-top: -72px;
}
.payment{
    display: flex;
    margin: 64px 28px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.toggle{
    display: flex;
    align-items: center;
    gap: 36px;
}
.time-pay{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.switch{
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DFDFDF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}
input:checked + .slider {
    background-color: #000000;
}
input:checked + .slider:before {
    background-color: #DFDFDF;
}
input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}
.pay-plan{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin: 40px 0px 64px;
}

.pay-cont{
    background-color: #F5F5F5;
    padding: 56px 22px 40px;
}
.pay-info h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 18px;
}
.pay-info p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 40px;
}
.price{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.price h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
}
.price span{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.pay-line{
    position: absolute;
    width: 100%;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    margin-top: -56px;
    margin-left: -22px;
}
.btn-black{
    background-color: #FFFFFF;
    color: #000000;
}
.btn-white{
    color: #FFFFFF;
    background-color: #000000;
}
.pay-cont button{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    height: 40px;
    width: 245px;
}

.black{
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    
}
.compare{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 64px;
    display: none;
}
.table{
    display: flex;
    flex-direction: column;
    margin: 0px 28px 64.5px;
}
.thead{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
}

.head{
    display: none;
}
.bold-line{
    border: 0.5px solid #000000;
    width: 100%;
    margin: 23px 0px; 
}
.tbody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23.5px;
}
.tdata{
    width: 100%;
}
.dheader{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
}
.data-container{
    display: flex;
    justify-content: space-between;
    margin: 16px 47px 0px 0px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.data span{
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 1.66667px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.small-line{
    border: 0.5px solid #DFDFDF;
    width: 100%;
}
.invite-cont{
    display: flex;
    flex-direction: column;
    padding: 63px 32px;
    background-image: url("./assets/shared/mobile/bg-beta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.colr-line2{
    position: absolute;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    margin-top: -63px;
}
.invite-cont h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 310px;
}
.invite-header{
    margin-bottom: 24px;
}
.invite-bottom{
    display: flex;
    background: transparent;
    color: #FFFFFF;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    align-items: center;
    gap: 16px;
}
.invite-bottom img{
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(113deg) brightness(124%) contrast(93%);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0px;
    background-color: #000000;
}
.ft-logo{
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(113deg) brightness(124%) contrast(93%);
    margin-bottom: 32px;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 119px;
}
.contact{
    display: flex;
    gap: 13px;
    margin-bottom: 49px;
}
.contact img{
    filter: brightness(0) invert(1);
}
.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}
.nav-bar a{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.foot-btm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}
.copyright{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
@media (min-width: 768px){
    .menu{
        position: unset;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 16px 40px;
    }
    .logo{
        margin-bottom: 0px;
    }
    .menu-images{
        width: auto;
    }
    .close-button,
    .menu-button{
        display: none;
    }
    .menu-list{
        position: unset;
        display: flex;
        flex-direction: row;
        width: auto;
        margin-top: 0px;
        padding: 0px;
        gap: 53px;
    }
    .pages{
        display: flex;
        flex-direction: row;
        gap: 37px;
        width: auto;
        margin-bottom: 0px;
    }
    .pages a{
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
    }
    .line{
        display: none;
    }
    .invite{
        height: 40px;
        width: 158px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
    }

    .cont-one{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
    }
    .mobile-hero,
    .desktop-hero{
        display: none;
    }
    .tablet-hero{
        display: flex;
    }
    .cont-one-content{
        display: flex;
        padding: 0px 54px 0px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .cont-one-content h1{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.1px;
        margin-bottom: 21px;
    }
    .cont-one-content p{
        max-width: 387px;
    }
    .colr-line{
        width: 6px;
        height: 144px;
        margin-top: 0px;
        margin-left: -54px;
    }
    .payment{
        display: flex;
        margin: 112px 40px;
    }
    .pay-plan{
        margin: 40px 0px 112px;
        width: 100%;
    }
    .pay-cont{
        display: flex;
        justify-content: flex-start;
        padding: 40px;
        flex-direction: column;
    }
    .pay-content{
        display: flex;
        justify-content: space-between;
    }
    .pay-info{
        text-align: left;
    }
    
    .pay-info p{
        margin-bottom: 32px;
        max-width: 270px;
    }
    .price{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        align-items: flex-end;
    }
    .price span{
        margin-right: 15px;
    }
    .pay-line{
        width: 6px;
        height: 100%;
        margin-top: -40px;
        margin-left: -40px;
    }
    .btn-black{
        background-color: #FFFFFF;
        color: #000000;
    }
    .btn-white{
        color: #FFFFFF;
        background-color: #000000;
    }
    .pay-cont button{
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        height: 40px;
        width: 270px;
    }
    .compare{
        display: block;
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .table{
        display: flex;
        flex-direction: column;
        margin: 0px 40px 112.5px;
    }
    .thead{
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #000000;
    }
    
    .head{
        display: flex;
    }
    .head-cont{
        display: flex;
        justify-content: space-between;
    }
    .tb-heads{
        display: flex;
        gap: 80px;
        margin-right: 80px;
    }
    .tbody{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 23.5px;
    }
    .tdata{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .dheader{
        width: 100%;
    }
    .data-container{
        display: flex;
        justify-content: flex-end;
        margin: 0px 105px 0px 0px;
        width: 100%;
        gap: 105px;
    }
    .data span{
        display: none;
        
    }
    .small-line{
        border: 0.5px solid #DFDFDF;
        width: 100%;
    }   
    .invite-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 68px 39px;
        background-image: url("./assets/shared/tablet/bg-beta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .colr-line2{
        width: 6px;
        height: 280px;
        margin-top: -68px;
        margin-left: -39px;
    }
    .invite-cont h1{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        max-width: 400px;
    }
    .invite-header{
        margin-bottom: 0px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 39px;
        background-color: #000000;
    }
    .foot{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .nav{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 0px;
        gap: 72px;
    }
    .contact{
        display: flex;
        gap: 13px;
        margin-bottom: 0px;
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;
    }
    .foot-btm{
        align-items: flex-end;
        margin-top: -50px;
        gap: 120px;
    }
}

@media (min-width: 1024px){
    .menu{
        padding: 16px 165px;
        gap: 62px;
    }
    .menu-list{
        gap: 62px;
        justify-content: space-between;
        width: 689px;
    }
    .pages a:hover{
        mix-blend-mode: normal;
        opacity: 0.3;
    }
    .invite:hover{
        background: #DFDFDF;
        color: #000000;
    }
    .cont-one{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
    }
    .mobile-hero,
    .tablet-hero{
        display: none;
    }
    .desktop-hero{
        display: flex;
        max-width: 60%;
    }
    .cont-one-content{
        padding: 0px 112px 0px;
        width: 100%;
    }
    .colr-line{
        margin-left: -112px;
    }
    .payment{
        display: flex;
        margin: 120px 0px 160px;
    }
    .pay-plan{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 80px 0px 191px;
        width: 100%;
    }
    .pay-cont{
        display: flex;
        justify-content: flex-start;
        padding: 56px 40px 40px;
        flex-direction: column;
    }
    .pay-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .pay-info{
        text-align: center;
    }
    
    .pay-info p{
        margin-bottom: 40px;
    }
    .price{
        align-items: center;
    }
    
    .pay-line{
        width: 100%;
        height: 6px;
        margin-top: -82px;
    }
    .black{
        padding: 82px 40px 71px;
    }
    
    .pay-cont button:hover{
        color: #000000;
        background-color: #DFDFDF;
        cursor: pointer;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .table{
        width: 731px;
        margin: 56px 0px 160.5px;
    }
    .tb-heads{
        margin-right: 40px;
    }
    .data-container{
        margin: 0px 68px 0px 0px;
    }

    .invite-cont{
        padding: 68px 165px;
        background-image: url("./assets/shared/desktop/bg-beta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .colr-line2{
        margin-left: -165px;
    }
    .invite-bottom:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 165px 65px 171px;
        background-color: #000000;
    }
    .ft-logo{
        margin-bottom: 0px;
    }
    .nav{
        flex-direction: row;
        gap: 125px;
        align-items: flex-end;
        margin-top: -20px;
    }
    .contact img:hover{
        cursor: pointer;
        filter: unset;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
        gap: 19px;
    }
    .nav-bar a:hover{
        cursor: pointer;
        mix-blend-mode: normal;
        opacity: 0.3;
    }
    .foot-btm{
        margin-top: -15px;
        gap: 86px;
    }

}